{% extends "default.njk" %}


{% block header %}
{% endblock %}

{% block content %}
{{ content }}
<h2>Employees</h2>
<ul>
    {% for employee in site.employees %}
        <li>{{ employee.name }} - {{ employee.position }}</li>
    {% endfor %}
</ul>
{% endblock %}