<!DOCTYPE html>
<html lang="en">

{% include "partials/head.njk" %}

<body>
    {% block header %}
        <h1>{{ title }}</h1>
    {% endblock %}
    <nav>
        {% for page in site.menu %}
            <a href="{{ page.link }}">{{page.title}}</a>
        {% endfor %}
    </nav>
    {% block content %}
        {{ content }}
    {% endblock %}
</body>

</html>